{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/base-template.css' %}">
        <link rel="stylesheet" href="{% static 'css/services/corporation.css' %}">
    {% endblock %}
</head>
<body>
{% block content %}
    <main id="content">
        <section class="d-flex justify-content-around flex-column"
                 id="introduction-section">
            <div class="container d-flex align-items-center flex-column gap-5">
                <div class="d-flex align-items-center justify-content-around flex-column flex-lg-row gap-5">
                    <div class="d-flex align-items-center align-items-lg-start justify-content-center flex-column gap-2 gap-xxl-3"
                         id="introduction-header-container">
                        <h1>Modern ve Benzersiz Kurumsal Web Tasarım ve Yazılım Hizmeti</h1>
                        <h4>Orion Studio ile kurumsal kimliğinizi en iyi şekilde yansıtan, etkileyici kurumsal web
                            sitenizi yeniden canlandırın ve profesyonel bir imaj bırakın.</h4>
                        <a href="{% url 'request' %}" class="btn btn-ghost">Hemen Başla<i class="fa fa-chevron-right ms-2"></i></a>
                    </div>
                    <div id="introduction-threejs-container" class="d-flex align-items-center justify-content-center">
                        <dotlottie-player
                                src="https://lottie.host/de7890fa-21a6-4afd-ad94-491401a60089/JEKOxyQJtD.json"
                                background="transparent" speed="1" style="width: auto; height: auto;" loop
                                autoplay></dotlottie-player>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center align-items-center gap-5">
                <h2>Kurumsal Web Sitesi Kimler İçindir?</h2>
                <div class="d-flex flex-wrap justify-content-center gap-3">
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>Kurumsal Tanıtım</h3>
                            <p>Şirketinizi ve hizmetlerinizi etkili bir şekilde tanıtan temel bir kurumsal tanıtım web
                                sitesi.</p>
                        </div>
                    </div>
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>Ürün ve Hizmet Kataloğu</h3>
                            <p>Şirketinizin özgünlüğünü ve yaratıcılığını vurgulayan, ürün ve hizmetlerinizi açıklayan,
                                estetik ve bilgi dolu bir kurumsal web sitesi.</p>
                        </div>
                    </div>
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>Blog Platformu</h3>
                            <p>Sektörde güncel kalmak adına blog yazıları üzerine özelleşmiş web sitesi.</p>
                        </div>
                    </div>
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>İş Fırsatları ve Kariyer Portalı</h3>
                            <p>Şirketinizin iş fırsatlarını detaylıca paylaşan, şirket kültürünü yansıtan ve iş
                                başvurularını yönetmeyi kolaylaştıran kariyer odaklı bir web sitesi.</p>
                        </div>
                    </div>
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>İletişim ve Müşteri Desteği Hub'ı</h3>
                            <p>Müşteri iletişimini güçlendiren, sorulara hızlı cevap veren ve etkileşimi artıran bir
                                iletişim ve destek odaklı web sitesi.</p>
                        </div>
                    </div>
                    <div class="type-box border">
                        <svg class="w-25 h-25" viewBox="0 0 69 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-width="2.2857" stroke-miterlimit="10"
                                  stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M52.2414 27.1207C52.2414 41.0173 41.0171 52.2415 27.1205 52.2415C13.2239 52.2415 2 41.0173 2 27.1207C2 13.2241 13.2239 2 27.1205 2C41.5516 2.53448 52.2414 13.2241 52.2414 27.1207Z"
                                  stroke="currentColor" stroke-opacity="0.2" stroke-width="2.2857"
                                  stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor"/>
                            <path d="M68.811 43.69C68.811 57.5866 57.5868 68.8109 43.6902 68.8109C29.7936 68.8109 18.5693 57.5866 18.5693 43.69C18.5693 29.7934 29.7936 18.5693 43.6902 18.5693C57.5868 18.5693 68.811 29.7934 68.811 43.69Z"
                                  fill="currentColor" fill-opacity="0.2"/>
                        </svg>
                        <div>
                            <h3>Etkinlik ve Haber Merkezi</h3>
                            <p>Şirket etkinliklerini, haberleri ve duyuruları paylaşan, ziyaretçilere şirketinizin
                                dinamik yüzünü gösteren etkileşimli bir platform.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="pricing" class="d-flex align-items-center justify-content-center flex-column">
            <div id="pricing-container">
                <h1 class="text-center fw-light mb-5">Fiyatlandırma</h1>
                <div class="d-flex justify-content-center flex-column flex-lg-row gap-5">
                    <div style="background-color: var(--text)" class="card">
                        <h3 class="align-self-center">Yazılım</h3>
                        <h4 class="align-self-center">$1000 - $3000</h4>
                        <ul class="d-flex flex-column gap-3 list-unstyled">
                            <li>Özel UI/UX Dizayn</li>
                            <li>Özel Yazılım Hizmeti</li>
                            <li>Standart İçerik Yönetim Sistemi</li>
                            <li>G-Analytics ve Search Console Entegrasyonları</li>
                            <li>Kurumsal E-posta Hizmeti</li>
                            <li>SEO Uyumlu</li>
                            <li>Sıfırdan Wireframing + Figma Üzerinde UI/UX Tasarımı</li>
                        </ul>
                    </div>
                    <div style="background-color: var(--text)" class="card">
                        <h3 class="align-self-center">Dizayn</h3>
                        <h4 class="align-self-center">$100 - $500</h4>
                        <ul class="d-flex flex-column gap-3 list-unstyled">
                            <li>Özel UI/UX Dizayn</li>
                            <li>Logo ve Marka Kimliği Tasarımı</li>
                            <li>Basılı ve Dijital Materyal Tasarımı</li>
                            <li>Mobil Uygulama Arayüz Tasarımı</li>
                            <li>Web Uygulama Arayüz Tasarımı</li>
                            <li>Landing Page Tasarımı</li>
                            <li>Wireframing ve Prototipleme Hizmeti</li>
                        </ul>
                    </div>
                </div>
                <div class="mt-5">
                    <h5>
                        <span>&egsdot;&nbsp;Girişimci desteği kapsamında 25 yaşından küçük girişimcilere %15 indirim</span>
                    </h5>
                    <h5><span>&egsdot;&nbsp;Tasarımlarımızın hepsi müşterilerimize özel hazırlanmaktadır ve hazır şablon kullanılmamaktadır.</span>
                    </h5>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</body>
{% block scripts %}
    <script>document.documentElement.setAttribute('data-theme', 'red')</script>
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script type="module">
        import * as THREE from "https://cdn.skypack.dev/three@v0.132.2/build/three.module.js"
        import {GLTFLoader} from "https://cdn.skypack.dev/three@v0.132.2/examples/jsm/loaders/GLTFLoader.js"

        const loader = new GLTFLoader();
        const scene = new THREE.Scene();
        const camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 1000);
        camera.position.z = 3;
        const canvas = document.getElementById('threejs-canvas')
        const renderer = new THREE.WebGLRenderer({canvas: canvas, antialias: true, alpha: true});

        loader.load('/media/bCircle3d.gltf', function (gltf) {
            const ambientLight = new THREE.AmbientLight(0x9a3cc3, 0.1);
            const pointLight = new THREE.PointLight(0x000000, 1);
            const directionalLight1 = new THREE.DirectionalLight(0xef10e6, 0.8);
            const directionalLight2 = new THREE.DirectionalLight(0xef10e6, 0.8);
            directionalLight2.position.y = -15
            scene.add(directionalLight1);
            scene.add(directionalLight2);
            scene.add(pointLight);
            scene.add(ambientLight);

            const model = gltf.scene

            var mixer = new THREE.AnimationMixer(model);
            var action = mixer.clipAction(gltf.animations[0]).play();
            var action1 = mixer.clipAction(gltf.animations[1]).play();
            var action2 = mixer.clipAction(gltf.animations[2]).play();
            model.scale.x = 1;
            model.scale.y = 1;
            model.scale.z = 1;

            const material1 = new THREE.MeshPhongMaterial({
                color: 0x125448,
                shininess: 100,
                specular: 0xffffff,
            });
            const material2 = new THREE.MeshPhongMaterial({
                color: 0xffffff,
                shininess: 50,
                specular: 0x2dd2b4,
            });
            const material3 = new THREE.MeshPhongMaterial({
                color: 0xffffff,
                shininess: 50,
                specular: 0x2dd2b4,
            });
            gltf.scene.traverse((object) => {
                if (object.type === 'Mesh') {
                    if (object.name === 'BezierCircle') {
                        object.material = material1;
                    }
                    if (object.name === 'BezierCircle001') {
                        object.material = material2;
                    }
                    if (object.name === 'BezierCircle002') {
                        object.material = material3;
                    }
                }
            });
            scene.add(model);

            function animate() {
                requestAnimationFrame(animate);
                renderer.render(scene, camera);
                if (mixer) {
                    mixer.update(0.005);
                }
                window.addEventListener('scroll', function () {
                })
                renderer.render(scene, camera);
            }

            animate();

        }, undefined, function (error) {
            console.error(error);
        });

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth / 2, window.innerHeight / 2)
        renderer.setPixelRatio(window.devicePixelRatio)

        window.addEventListener("resize", onWindowResize, false);

        function onWindowResize() {
            camera.aspect = window.innerWidth / window.innerHeight;
            camera.updateProjectionMatrix();
            renderer.setPixelRatio(window.devicePixelRatio)
            renderer.setSize(window.innerWidth / 2, window.innerHeight / 2);
        }
    </script>
{% endblock %}
</html>